//Font family monserrat import
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');

//font
$base-font:'Source Sans Pro', sans-serif;

//colors
$primary-color:rgba(88,255,139,1);
$secondary-color:rgba(47,104,157,1);
$optional-color:rgba(78,135,221,1);
$dark-grey-color:rgba(25,23,21,1);
$light-grey-color:rgba(194,194,194,1);

//notification colors
$error-color:rgba(210,55,55,1);
$success-color:rgba(19,154,82,1);
$alert-color:rgba(136,75,38,1);

//font-sizes heading
$heading-font-x-large:50px;
$heading-font-large:40px;
$heading-font-normal:34px;
$heading-font-small:24px;
$heading-font-x-small:16px;

//font-sizes
$text-size-x-large:24px;
$text-size-large:20px;
$text-size-normal:16px;
$text-size-small:14px;
$text-size-x-small:12px;
$text-size-xx-small:11px;






